body {
  margin: 10px;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 1em;
}
.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}
.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: white;
  border: solid 1px gainsboro;
  border-radius: 0.5rem;
  padding: 1.5rem;;
  box-shadow: -8px 4px 8px 4px rgb(244 249 255 / 0.6);
  transition: 0.2s;
}	   
.item_disabled {
  background: white;
  color: lightgrey;
}
.item:not(:first-child) {
  margin-left: -2rem;
}
.item:hover {
  transform: scale(1.15) rotate(2deg);
}
.item:nth-child(5n+1) {
  margin-left: 0rem;
}
.btn-container {
  margin-top: auto;
  display: flex;
  justify-content: space-around;
}